body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #7ae3fd;
    color: black;
    padding: 20px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #222;
}
nav a {
    padding: 14px 20px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
section {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section h2 {
    margin-top: 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}
form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background: #77d7e8;
}
footer {
    padding: 20px 0;
    background: #333;
    color: #fff;
    text-align: center;
}
.featured-materials {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}
.featured-materials h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.materials {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.material {
    width: 30%;
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.material img {
    max-width: 100%;
    height: auto;
}
.material h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}
.material p {
    font-size: 1rem;
    color: #555;
}
.material img {
    max-width: 100%;
    height: auto;
}