body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.header {
    background-color: #7ae3fd;
    color: white;
    padding: 20px;
    text-align: center;
}
.nav {
    display: flex;
    justify-content: center;
    background-color: #222;
}
.nav a {
    padding: 14px 20px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
.nav a:hover {
    background-color: #ddd;
    color: black;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.section {
    width: 80%;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section h2 {
    margin-top: 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}
.container-palestras {
    display: grid;

    gap: 10px; 
    width: 50%; 
    margin-top: 20px;
    margin-left: 30px;
}