@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
body {
    background-color: #ddd;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #7ae3fd;
    color: black;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #222;
}
    
.nav a {
    padding: 14px 20px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}
    
.nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav {
        display: flex;
        justify-content: center;
        background-color: #222;
}
        
.nav a {
        padding: 14px 20px;
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
}
        
.nav a:hover {
        background-color: #ddd;
        color: black;
}

#app {
    margin-top: 80px; /* Espaço para o cabeçalho */
}

.jogo {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    gap: 10px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    
}

.card {
    width: 80px;
    height: 80px;
    background-color: #7ae3fd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border: 2px solid #000000;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}

.card.flipped {
    transform: rotateY(180deg);
}

.content {
    transform: rotateY(-180deg); /* Reverse the rotation of the content */
}

.victory-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 24px;
}

.victory-message {
    margin-bottom: 20px;
}

.reset-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #7ae3fd;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset-button:hover {
    background-color: #7ae3fd;
}
#logo{
    height: 100px;
    display: flex;
    
}